h1{
    width: max-content;
    padding: 3px;
}

nav{
    background-color: #808080;
    height: 4rem;
    bottom: 0;
    width: 100%;
    display: flex;
    position:fixed;
    justify-content: space-around;
    align-items: center;
}
body {
    margin: 0;
    padding: 0;
    background-color:rgb(27,27,27);
    min-height: 100%;
}

.content-list-box{
    background-color: #292929;
    min-height: 50vh;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}


.black-button{
    background-color: #292929;
    color: #ffffff;
    height: max-content;
    width: max-content;
    font-size: x-large;
    padding: 3px;
    cursor: pointer;
    transition: all 0.3s ease;

}
.orange-button{
    background-color: #ffa431;
    width: max-content;
    padding: 3px;
    color: black;
    height: max-content;
    font-size: x-large;
    cursor: pointer;
    transition: all 0.3s ease;
}

.orange-button:hover{
    scale: 1.2;
}
.black-button:hover{
    scale: 1.2;
}
.nav-bar{
    position: sticky;
    top: 0;
    border: solid gray 0.1px;
    display: flex;
    align-items: center;
    display:flex;
    padding-left:1rem;
    padding-right:1rem;
    justify-content: space-between;
}

.mobile-menu{
    display: block;

}

.hamburger-icon{
  display: none;
}

.landscape-menu{
    display: flex;
    min-width:70% ;
    gap: 15px;
}

.nav-mobile-hidden{
    display: none;
}

.nav-mobile-active{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: max-content;
    font-size: large;
    padding: 2rem;
    top: 100%;
    right: 0;
    left: 0;
    width: auto;
    gap: 20px;
    
}
.nav-mobile-active .orange-button{
    height:3rem;
    width: auto;
    font-size: larger;

    }
.hamburger-icon-hidden{
        display: none;
    }
/* portrait */
@media screen and (max-width:768px){
  .landscape-menu{
    display: none;
  }
  .hamburger-icon{
    display: block;
    font-size: 2rem;
    color: white;
    
  }
}

.search-bar{
display: flex;
justify-content: center;
align-items: center;
}

.search-space{
    border-radius: 2rem;
    
}

.search-form button{
    background-color: #ffa431;
    border-radius: 2rem;
    cursor: pointer;
}