main{
    background-color: #292929;
    margin:1rem;
    border-radius: 1rem;
    min-height: 10000vh;

}
p{
    margin: 0;
}
.lobbies{
    display: grid;
    justify-content: center;
}

.lobby{
    background-color: aliceblue;
    width: max-content;
    width: 300px;
    padding: 1rem;
    color: aliceblue;
    background-color: #1b1b1b;
}

.details{
    word-wrap: break-word;
}

.mobile-search{
    display: flex;
    flex-direction: column;
    
}
main .mobile-search{
        margin:0px;
        position: sticky;
        top:77.1px;
        background-color: #292929;
    }

@media screen and (min-width:768px) {
    main .mobile-search .search-form{
        display: none;
    }
}

.gname{
    color:white;
    margin:2px;
    max-width: fit-content;
    padding: 7px;
    background-color: #000000;
    margin:10px;
    border-radius: 20px;
}

.lname{
    margin:2px;
    margin:2px;
    max-width: fit-content;
    padding-left: 7px;
}
.details{
   
    margin: 9px;
}
.tag-game{
display: flex;
}

.tag-ele{
    color: #ff31c8;
    margin:10px;
    border: #ff31c8 solid;
    max-width: fit-content;
    padding: 7px;   
    border-radius: 2rem;
    font-size:xx-small
}

.require-de{
    display: flex;
    align-content: center;
}

.lobby-status{
    display: flex;
    align-content: center;

}
.btn-lobby{
    border-radius: 2rem;
    height: fit-content;
    width: fit-content;
}

.host-bar div{
    display: flex;
    gap:20px
}

.host-bar{
    display: flex;
    justify-content: space-between;
}

.slots{
    display: flex;  
    justify-content: space-between;
}
.game-pic {
    width: 100%;       /* กำหนดให้ container กว้างเท่ากับ Card */
    overflow: hidden;  /* กันส่วนเกินหลุดออกมา (เผื่อไว้) */
    border-top-left-radius: 8px;  /* ถ้าอยากให้มุมบนมนตามการ์ด */
    border-top-right-radius: 8px;
    height: 200px;
    object-fit: cover;

    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.orange-button{
    background-color: #ffa431;
    width: max-content;
    padding: 3px;
    color: black;
    height: max-content;
    font-size: x-large;
    cursor: pointer;
    transition: all 0.3s ease;
}

main .orange-button{
    width: 100%;
    border-radius: 10px;
    font-size: medium;
    padding: 10px;
    font-weight: bolder;
}