
main{
    background-color: #292929;
    margin:1rem;
    
    border-radius: 1rem;
    min-height: 10000vh;
    box-sizing: border-box;

}
p{
    margin: 0;
}

a {
    text-decoration: none; 
}

a:hover, a:active, a:focus {
    text-decoration: none; 
}

.lobbies{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}
.all-lob{
    padding: 0%;
}
.lobby{
    background-color: aliceblue;
    width: clamp(250px, 100%, 300px);
    padding: 1rem;
    color: aliceblue;
    background-color: #1b1b1b;
}

.details{
    word-wrap: break-word;
}

.mobile-search{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
main .mobile-search{
        margin:0px;
        position: sticky;
        top:77.1px;
        background-color: #292929;
    }


    .search-form{   
        display: flex;
        width: 100%;
    }
    .search-space{
        flex-grow: 1;
        max-width: 600px;
    }
   

.gname{
    color:white;
    margin:2px;
    max-width: fit-content;
    padding: 7px;
    background-color: #000000;
    margin:10px;
    border-radius: 20px;
}

.lname{
    margin:2px;
    margin:2px;
    max-width: fit-content;
    padding-left: 7px;
}
.details{
   
    margin: 9px;
}
.tag-game{
display: flex;
}

.tag-ele{
    color: #ffa431;
    margin:10px;
    border: #ffa431 solid;
    max-width: fit-content;
    padding: 7px;   
    border-radius: 2rem;
    font-size:medium;
    font-weight: bolder;
}

.require-de{
    display: flex;
    align-content: center;
}

.lobby-status{
    display: flex;
    align-content: center;

}
.btn-lobby{
    border-radius: 2rem;
    height: fit-content;
    width: fit-content;
}

.host-bar div{
    display: flex;
    gap:20px
}

.host-bar{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-right: 1rem;
    font-size: small;
}

.slots{
    display: flex;  
    justify-content: space-between;
}
.game-pic {
    width: 100%;       /* กำหนดให้ container กว้างเท่ากับ Card */
    overflow: hidden;  /* กันส่วนเกินหลุดออกมา (เผื่อไว้) */
    border-top-left-radius: 8px;  /* ถ้าอยากให้มุมบนมนตามการ์ด */
    border-top-right-radius: 8px;
    height: 200px;
    object-fit: cover;

    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.orange-button{
    background-color: #ffa431;
    width: max-content;
    padding: 3px;
    color: black;
    height: max-content;
    font-size: x-large;
    cursor: pointer;
    transition: all 0.3s ease;
}

main .orange-button{
    width: 100%;
    border-radius: 10px;
    font-size: medium;
    padding: 10px;
    font-weight: bolder;
}

.lobby{
    border-radius: 20px;
    border: solid #1b1b1b 3px;
}



.lobby-type{
    display: flex;
    font-size: x-large;
    gap: 1rem;
}

.add-lobby{
    color: white;
    background-color: #474747;
    margin: 2rem;
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    border-radius: 30px;
    border: dashed #030303 0.5rem;
}

.bnt-mylob .orange-button{
    background-color: white;
    
}

@media (hover:hover) {
.public-lobby .lobby:hover{
    border:solid #ffa431 3px;
    scale: 1.05;
}
.my-lobby .lobby:hover{
    border:solid #31eaff 3px;
    scale: 1.05;
}
.add-lobby:hover{
  
    border: dashed #31eaff 0.5rem;
    color: #31eaff;
    scale: 1.05;
}
}