@{
    ViewData["Title"] = "Home Page";
}
@using GamerLFG.Models




<link rel="stylesheet" href="~/css/home_page.css" asp-append-version="true">

        <main>
        <div class="mobile-search" id="mobile-search">
                <form action="" class="search-form">
                    <input type="text" placeholder="Search.." name="search" class="search-space">
                    <button type="submit"><i class="fa fa-search fa-3x"></i></button>
                </form>
        </div>

            <h3 class="lobby-type" style="color: aliceblue;padding-left:2rem;padding-top:1rem;padding:0;margin:0;">
                <i class="fa fa-gamepad" style="color: #ffa431;"></i>My Lobby</h3>
            
            <div class="all-lob">
            <div class="lobbies">
            <a asp-controller="Lobby" asp-action="Create_lobby">
            <div class="add-lobby">
                <i class="fa fa-plus-circle fa-2x"></i>
                <p>NEW LOBBY</p>
            </div>
            </a>

            </div>


            <h3 class="lobby-type" style="color: aliceblue;padding-left:2rem;padding-top:1rem;padding:0;margin:0;">
                <i class="fa fa-globe" style="color: #ffa431;"></i>Public Feed</h3>

            <div class="lobbies">
                
              
            </div>
        </div>
        </main>
