@{
    ViewData["Title"] = "Login - Gamer Hub";
}

@* Link your specific login CSS here *@
<link rel="stylesheet" href="~/css/login.css" />

<div class="login-container">
    <div class = "login-box">
        <h1 style="color:white">
            Login
        </h1>
       <form asp-action="Login" method="post">
            <div class="form-group">
                <input type="text" placeholder="Username" required />
            </div>

            <div class="form-group">
                <input type="password" placeholder="Password" required />
            </div>


            <button type="submit" class="login-button" style="width: 100%; border-radius: 50px; padding: 12px;">Login</button>
        </form>

        <p style="color: white; margin: 25px;font-size:14px">
            Don't have an account? <a asp-controller="Home" asp-action="Register" style="color: white; font-weight: bold; text-decoration: none;">Register</a>
        </p>
    </div>

</div>