<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="header">
        <h1 class="">GameHub</h1>
        <div style="display: flex;">
            <form action="">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit" style="">Search</button>
            </form>
           <button onclick="" style="margin-left: 2rem; ">Create Lobby</button>
        </div>
    </div>
    <nav>
        <button>Home</button>
        <button>Friends</button>
        <button>Alert</button>
        <button>Setting</button>
    </nav>
</body>
</html>