@{
    ViewData["Title"] = "Friends List";
}

<link rel="stylesheet" href="~/css/friends_request.css" asp-append-version="true" />

<h1>Friends Request</h1>
<ul class="nav-tabs">
    <li id="friends" class="rbx-tab"><a asp-controller="Friends" asp-action="Friends_list">
        <span class="text-lead">Friends</span><span class="rbx-tab-subtitle"></span></a>
    </li>
    <li id="requests" class="rbx-tab active"><a asp-controller="Friends" asp-action="Friends_request"><span
        class="text-lead">Requests</span><span class="rbx-tab-subtitle"></span></a>
    </li>
</ul>



<ul class="friend-cards">
    <li id="69313896" class="list-item friend-card">
        <div class="friend-card-container">
            <div class="friend-card-content">
                <div class="friend-card-fullbody" data-testid="friend-card-container"><a href="/users/69313896/profile"
                                                                                         class="friend-card-link" data-testid="friend-card-link"><span
                    class="thumbnail-2d-container friend-card-image"><img class=""
                                                                          src="https://tr.rbxcdn.com/30DAY-AvatarHeadshot-9023ABDD3F2016382FEA8E89121D729F-Png/150/150/AvatarHeadshot/Webp/noFilter"
                                                                          alt="" title=""></span></a>
                    <div class="friend-status"></div>
                </div>
                <div class="friend-card-caption"><span>
                    <div class="friend-name-container"><a href="/users/69313896/profile"
                                                              class="text-overflow friend-name">tamangameming</a></div>
                        <div class="friend-card-label"> tamangameming </div>
                    </span>

                </div>
                <div class="friend-card-btns"><button type="button"
                                                          class="ignore-friend btn-secondary-md btn-min-width">Ignore</button><button type="button"
                                                                                                class="accept-friend btn-cta-md btn-min-width">Accept</button></div>
                </div>
            </li>
            <li id="8490615216" class="list-item friend-card">
                <div class="friend-card-container">
                    <div class="friend-card-content">
                        <div class="friend friend-card-fullbody" data-testid="friend-card-container"><a
                            href="/users/8490615216/profile" class="friend-card-link" data-testid="friend-card-link"><span
                            class="thumbnail-2d-container icon-blocked friend-card-image"></span></a>
                            <div class="friend-status"></div>
                        </div>
                        <div class="friend-card-caption"><span>
                            <div class="friend-name-container"><a href="/users/8490615216/profile"
                                                                      class="text-overflow friend-name">GPDLgw</a></div>
                                <div class="friend-card-label"> AmNomaliGAJAHGAJAHAT </div>
                            </span>
                        </div>
                        <div class="friend-card-btns"><button type="button"
                                                                  class="ignore-friend btn-secondary-md btn-min-width">Ignore</button><button type="button"
                                                                                                        class="accept-friend btn-cta-md btn-min-width">Accept</button></div>
                        </div>
                    </li>
                    <li id="4345708535" class="list-item friend-card">
                        <div class="friend-card-container">
                            <div class="friend-card-content">
                                <div class="friend friend-card-fullbody" data-testid="friend-card-container"><a
                                    href="/users/4345708535/profile" class="friend-card-link" data-testid="friend-card-link"><span
                                    class="thumbnail-2d-container friend-card-image"><img class=""
                                                                                          src="https://tr.rbxcdn.com/30DAY-AvatarHeadshot-9023ABDD3F2016382FEA8E89121D729F-Png/150/150/AvatarHeadshot/Webp/noFilter"
                                                                                          alt="" title=""></span></a>
                                    <div class="friend-status"></div>
                                </div>
                                <div class="friend-card-caption"><span>
                                    <div class="friend-name-container"><a href="/users/4345708535/profile"
                                                                              class="text-overflow friend-name">らぶら</a></div>
                                        <div class="friend-card-label"> lonsoedein </div>
                                    </span>

                                </div>
                                <div class="friend-card-btns"><button type="button"
                                                                          class="ignore-friend btn-secondary-md btn-min-width">Ignore</button><button type="button"
                                                                                                                class="accept-friend btn-cta-md btn-min-width">Accept</button></div>
                                </div>
                            </li>
                            <li id="9019858028" class="list-item friend-card">
                                <div class="friend-card-container">
                                    <div class="friend-card-content">
                                        <div class="friend friend-card-fullbody" data-testid="friend-card-container"><a
                                            href="/users/9019858028/profile" class="friend-card-link" data-testid="friend-card-link"><span
                                            class="thumbnail-2d-container friend-card-image"><img class=""
                                                                                                  src="https://tr.rbxcdn.com/30DAY-AvatarHeadshot-9023ABDD3F2016382FEA8E89121D729F-Png/150/150/AvatarHeadshot/Webp/noFilter"
                                                                                                  alt="" title=""></span></a>
                                            <div class="friend-status"></div>
                                        </div>
                                        <div class="friend-card-caption"><span>
                                            <div class="friend-name-container"><a href="/users/9019858028/profile"
                                                                                      class="text-overflow friend-name">soe15645</a></div>
                                                <div class="friend-card-label"> soe15645 </div>
                                            </span>

                                        </div>
                                        <div class="friend-card-btns"><button type="button"
                                                                                  class="ignore-friend btn-secondary-md btn-min-width">Ignore</button><button type="button"
                                                                                                                        class="accept-friend btn-cta-md btn-min-width">Accept</button></div>
                                        </div>
                                    </li>
                                    <li id="8759394865" class="list-item friend-card">
                                        <div class="friend-card-container">
                                            <div class="friend-card-content">
                                                <div class="friend friend-card-fullbody" data-testid="friend-card-container"><a
                                                    href="/users/8759394865/profile" class="friend-card-link" data-testid="friend-card-link"><span
                                                    class="thumbnail-2d-container friend-card-image"><img class=""
                                                                                                          src="https://tr.rbxcdn.com/30DAY-friendHeadshot-6E97960ACCC076DCF54C378855B7B69E-Png/150/150/friendHeadshot/Webp/noFilter"
                                                                                                          alt="" title=""></span></a>
                                                    <div class="friend-status"></div>
                                                </div>
                                                <div class="friend-card-caption"><span>
                                                    <div class="friend-name-container"><a href="/users/8759394865/profile"
                                                                                              class="text-overflow friend-name">babymelon122</a></div>
                                                        <div class="friend-card-label"> babymelon97173 </div>
                                                    </span>

                                                </div>
                                                <div class="friend-card-btns"><button type="button"
                                                                                          class="ignore-friend btn-secondary-md btn-min-width">Ignore</button><button type="button"
                                                                                                                                class="accept-friend btn-cta-md btn-min-width">Accept</button></div>
                                                </div>
                                            </li>
                                            <li id="8313050523" class="list-item friend-card">
                                                <div class="friend-card-container">
                                                    <div class="friend-card-content">
                                                        <div class="friend friend-card-fullbody" data-testid="friend-card-container"><a
                                                            href="/users/8313050523/profile" class="friend-card-link" data-testid="friend-card-link"><span
                                                            class="thumbnail-2d-container friend-card-image"><img class=""
                                                                                                                  src="https://tr.rbxcdn.com/30DAY-friendHeadshot-CD406CD007A62AA16D5906F7C4E42862-Png/150/150/friendHeadshot/Webp/noFilter"
                                                                                                                  alt="" title=""></span></a>
                                                            <div class="friend-status"></div>
                                                        </div>
                                                        <div class="friend-card-caption"><span>
                                                            <div class="friend-name-container"><a href="/users/8313050523/profile"
                                                                                                      class="text-overflow friend-name">lia</a></div>
                                                                <div class="friend-card-label"> khyliekhimflores60 </div>
                                                            </span>

                                                        </div>
                                                        <div class="friend-card-btns"><button type="button"
                                                                                                  class="ignore-friend btn-secondary-md btn-min-width">Ignore</button><button type="button"
                                                                                                                                        class="accept-friend btn-cta-md btn-min-width">Accept</button></div>
                                                        </div>
                                                    </li>
                                                </ul>