@{
    ViewData["Title"] = "New Lobby";
    string[] Moods = {"Chill","Hardcore","Not Toxic","Toxic","Femboy"};
    string[] Games = { 
    "Elden Ring NightReign", 
    "Monster Hunter: World", 
    "Remnant 2", 
    "Dark Souls III", 
    "Helldivers 2", 
    "Baldur's Gate 3", 
    "It Takes Two", 
    "Lords of the Fallen", 
    "Valheim", 
    "Palworld", 
    "Deep Rock Galactic", 
    "Left 4 Dead 2", 
    "Stardew Valley", 
    "Sea of Thieves", 
    "Don't Starve Together", 
    "Grand Theft Auto Online", 
    "Apex Legends", 
    "Warframe", 
    "Destiny 2", 
    "Minecraft" 
};
    
    
}
@using GamerLFG.Services.Interface.DTOs;
@model CreateLobbyDTO;
<script src="~/js/create-lobby.js" asp-append-version="true" defer></script>
<link rel="stylesheet" href="~/css/create_lobby.css" asp-append-version="true">
<main>
    <form asp-controller="Lobby" asp-action="Create_lobby" class="create-form" method="post">
        <div asp-validation-summary="All" class="text-danger" id="dangerDiv"></div>
       <input type="hidden" asp-for="HostId">
       <input type="hidden" asp-for="HostName"/>
        <div class="title">
            <label for="game" style="font-size: x-large;">Choose Your Game</label>
            <select asp-for="Game" required
                            asp-items="@(new SelectList(Games))" 
                            class="form-control">
                        <option value="">-- GAME --</option>
                    </select>
            
                    
            <input asp-for="Title" type="text" placeholder="Lobby title" style="min-height: 5rem; font-size:x-large" required>
            <input asp-for="Description" type="text"  placeholder="description" required>
        </div>
        <div id="playerAmount">
                    <p style="padding: 0%;margin:0;">Player Amount</p>
                    
                    <div id="btn-player-amount">
                        <button type="button" onclick="counting(-1,'amountPlayer',2,100)" class="org-btn"><i class="fa fa-arrow-left"></i></button>
                        <input type="text" asp-for="MaxPlayers" id="amountPlayer" min="2" max="100" value="2" >
                        <button type="button" onclick="counting(1,'amountPlayer',2,100)" class="org-btn"><i class="fa fa-arrow-right"></i></button>
                    </div>
                    
        </div>

        <div class="require">
            <p id="re-text-1">PERSONAL REQUIREMENTS</p>
            <p id="re-text-2">ASSIGN SPASIFIC ROLES FOR THE SQUAD</p>

            <div class="input-role">
                <input type="text" placeholder="Role Assign" id="key-role">
                <input type="text" id="count" value="1" min="1" max="100">
                <div id="add-count-btn">
                    <button type="button" onclick="counting(1,'count',1,100)"><i class="fa fa-arrow-up"></i></button>
                    <button type="button" onclick="counting(-1,'count',1,100)"><i class="fa fa-arrow-down"></i></button>
                </div>
                 <button onclick="addToDOM()" id="add-role-btn" type="button"><strong>ADD ROLE</strong></i></button>
            </div>
        <div id="roles-added"></div>

        <div id="roles-hidden-container"></div>
        <input type="hidden" asp-for="Roles" id="ItemsData">
        </div>

        <div class="mood-select">
            <p>TACTICAL PROTOCAL TAGS</p>
            <div class=moods>
                @foreach(string mood in Moods){
                string moodId = mood.Replace(oldValue: " ", newValue: "-");
                <input type="checkbox" name="Moods" id="@moodId" value="@mood" class="check-box"> 
                <label class="mood-label" for=@moodId>@mood</label>
            }   
            </div>

        </div>

        <div class="wallpaper">
            <p>Tactical Visuals</p>
            <input type="text" placeholder="Direct Image URL" asp-for="Picture">
        </div>
        <div class="discord">
            <p>Discord Link</p>
            <input type="text" placeholder="discord" asp-for="DiscordLink" required>
            
        </div>
        <div class="assign-role">
           Choose your Role (Default = อะไรก็ได้ = Others)
           
           <div class=moods id="host-role-display">
            <input type="radio" name="HostRole" value="Others" class="check-box" id="default">
            <label for="default" class="mood-label">Default</label>
           </div>

        </div>
        
        <div class="date">
            <label for="start" class="datetime-local">
                <div class="calendar">
                 Open Recruit Date <i class="fa fa-calendar"></i>   
                </div>
                
               <input type="datetime-local" onclick="this.showPicker()" onchange="checkTimeInput()" class="input-date" id="start" asp-for="StartRecruiting"> 
            </label>
             <label for="end" class="datetime-local">
                <div class="calendar">
                  Close Recruit Date <i class="fa fa-calendar"></i>  
                </div>
                
              <input type="datetime-local" onclick="this.showPicker()" onchange="checkTimeInput()" class="input-date" id="end" asp-for="EndRecruiting">  

             </label>
            <label for="start-e" class="datetime-local">
                <div class="calendar">
                  Start Event Date <i class="fa fa-calendar"></i>  
                </div>
                
              <input type="datetime-local" onclick="this.showPicker()" onchange="checkTimeInput()" class="input-date" id="start-e" asp-for="StartEvent">  
             </label>

             <label for="end-e" class="datetime-local">
                <div class="calendar">
                  End Event Date <i class="fa fa-calendar"></i>  
                </div>
                
              <input type="datetime-local" onclick="this.showPicker()" onchange="checkTimeInput()" class="input-date" id="end-e" asp-for="EndEvent">  
             </label>

             
             
        </div>

        <button class="orange-button" onclick="updateHiddenInput()">
            CREATE LOBBY
        </button>
    </form>
</main>