h1{
    background-color: #ffa431;
    width: max-content;
    border-radius: 10px;
    padding: 3px;
}
button{
    background-color: #ffa431;
    width: max-content;
    border-radius: 10px;
    padding: 3px;
    
}
nav{
    background-color: #808080;
    height: 4rem;
    bottom: 0;
    width: 100%;
    display: flex;
    position:fixed;
    justify-content: space-around;
    align-items: center;
}
body {
    margin: 0;
    padding: 0;
    background-color:rgb(27,27,27);
    min-height: 100%;
}

.content-list-box{
    background-color: #292929;
    min-height: 50vh;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.header{
    padding-left: 8px;
}