@{
    ViewData["Title"] = "Friends List";
}

<link rel="stylesheet" href="~/css/friends_list.css" asp-append-version="true" />

<h1>Friends List</h1>


<ul class="nav-tabs">
    <li id="friends" class="rbx-tab active"><a asp-controller="Friends" asp-action="Friends_list">
        <span class="text-lead">Friends</span></a>
    </li>
    <li id="requests" class="rbx-tab"><a asp-controller="Friends" asp-action="Friends_request"><span
        class="text-lead">Requests</span></a>
    </li>
</ul>

        <div class="friends-filter">
            <div class="friends-filter-searchbar-container">
                <span class="icon-search"></span>
                <input class="friends-filter-searchbar-input" type="text" placeholder="Search Users" value="">
            </div>
        </div>


            <div class="friend-card-containers">
                <ul class="friend-cards">
                    <li id="7417146387" onclick="openUserModal('7417146387')" class="list-item friend-card">
                        <div class="friend-card-container">
                            <div class="friend-card-content">
                                <div class="friend-card-fullbody"><a
                                    href="/users/7417146387/profile" class="friend-card-link"
                                    ><span class="friend-card-image"><img
                                    class=""
                                    src="https://tr.rbxcdn.com/30DAY-AvatarHeadshot-9EA88B00D33EEA35B275F701D0177CE6-Png/150/150/AvatarHeadshot/Webp/noFilter"
                                    alt="" title=""></span></a>
                                    <div class="avatar-status"></div>
                                </div>
                                <div class="friend-card-caption"><span>
                                    <div class="avatar-name-container"><a href="/users/7417146387/profile"
                                                                              class="text-overflow avatar-name">xldn</a></div>
                                        <div class="friend-card-label"> qkrxldn </div>
                                        <div class="friend-card-label">Offline</div>
                                    </span></div>
                                </div>
                            </div>
                        </li>

                        <li id="7417146387" onclick="openUserModal('7417146387')" class="list-item friend-card">
                            <div class="friend-card-container">
                                <div class="friend-card-content">
                                    <div class="avatar friend-card-fullbody" data-testid="friend-card-container"><a
                                        href="/users/7417146387/profile" class="friend-card-link"
                                        data-testid="friend-card-link"><span class="thumbnail-2d-container friend-card-image "><img
                                        class=""
                                        src="https://tr.rbxcdn.com/30DAY-AvatarHeadshot-9EA88B00D33EEA35B275F701D0177CE6-Png/150/150/AvatarHeadshot/Webp/noFilter"
                                        alt="" title=""></span></a>
                                        <div class="avatar-status"></div>
                                    </div>
                                    <div class="friend-card-caption"><span>
                                        <div class="avatar-name-container"><a href="/users/7417146387/profile"
                                                                                  class="text-overflow avatar-name">xldn</a></div>
                                            <div class="friend-card-label"> qkrxldn </div>
                                            <div class="friend-card-label">Offline</div>
                                        </span></div>
                                    </div>
                                </div>
                            </li>
                            <li id="2895051752" onclick="openUserModal('2895051752')" class="list-item friend-card">
                                <div class="friend-card-container">
                                    <div class="friend-card-content">
                                        <div class="avatar friend-card-fullbody" data-testid="friend-card-container"><a
                                            href="/users/2895051752/profile" class="friend-card-link"
                                            data-testid="friend-card-link"><span class="thumbnail-2d-container friend-card-image "><img
                                            class=""
                                            src="https://tr.rbxcdn.com/30DAY-AvatarHeadshot-E6C51E685A9221CE8B1C6A8AB7CFC520-Png/150/150/AvatarHeadshot/Webp/noFilter"
                                            alt="" title=""></span></a>
                                            <div class="avatar-status"></div>
                                        </div>
                                        <div class="friend-card-caption"><span>
                                            <div class="avatar-name-container"><a href="/users/2895051752/profile"
                                                                                      class="text-overflow avatar-name">IloveMEOWMUK</a></div>
                                                <div class="text-overflow friend-card-label"> IloveAUGAIG </div>
                                                <div class="friend-card-label">Offline</div>
                                            </span></div>
                                        </div>
                                    </div>
                                </li>
                                <li id="1172879974" onclick="openUserModal('1172879974')" class="list-item friend-card">
                                    <div class="friend-card-container">
                                        <div class="friend-card-content">
                                            <div class="avatar friend-card-fullbody" data-testid="friend-card-container"><a
                                                href="/users/1172879974/profile" class="friend-card-link"
                                                data-testid="friend-card-link"><span class="thumbnail-2d-container friend-card-image "><img
                                                class=""
                                                src="https://tr.rbxcdn.com/30DAY-AvatarHeadshot-9102217385B597094DC692B076927682-Png/150/150/AvatarHeadshot/Webp/noFilter"
                                                alt="" title=""></span></a>
                                                <div class="avatar-status"></div>
                                            </div>
                                            <div class="friend-card-caption"><span>
                                                <div class="avatar-name-container"><a href="/users/1172879974/profile"
                                                                                          class="text-overflow avatar-name">Sleep</a></div>
                                                    <div class="text-overflow friend-card-label"> SpiritaulSniping </div>
                                                    <div class="friend-card-label">Offline</div>
                                                </span></div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>